.events {
	h1 {
		span {
			position: relative;
			padding-right: 6rem;
			&:before {
				position: absolute;
				padding-top: 1rem;
			}
		}
	}
}
.event-types {
	margin-bottom: 3rem;
}

.date_component {
	display: inline-block;
	text-align: center;
	background-color: $charcole;
	padding: 1.3rem;
	p {
		margin-bottom: 0;

		@include break(992px) {
			span {
				padding: 0;
				line-height: 30px;
			}
		}
	}

	span {
		color: $white;
		text-align: center;
		padding: 1rem 0;
		font-size: 2.8rem;
		font-weight: 300;
	}
	
	.vol &, .parent-pageid-4 &{
		background: $lightBlue;	
	}
	.org & , .parent-pageid-6 &{
		background: $lightPurple;
	}
}




.past_event{
	background-color: rgba(0, 0, 0, .1);
	padding: 1em;
}



.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: $pink;
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid darken($pink, 20%);;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid darken($pink, 20%);
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid darken($pink, 20%);;
  border-bottom: 3px solid transparent;
  border-top: 3px solid darken($pink, 20%);;
}